@tailwind base;
@tailwind components;
@tailwind utilities;

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow: hidden;
}


.center {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    z-index: 1200;
}

.centerBottom {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    z-index: 1200;
}

.mortalKombat {
    animation: mortalKombat 180s linear infinite;
}

.football {
    animation: football 180s linear infinite;
}

.minecraft {
    animation: minecraft 180s linear infinite;
}

.batman {
    animation: batman 180s linear infinite;
}

.xbox {
    animation: xbox 180s linear infinite;
}

.gta {
    animation: gta 180s linear infinite;
}

@keyframes minecraft {
    0% {
        transform: rotate(0deg) translateX(-475px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(-475px) rotate(-360deg);
    }
}

@keyframes mortalKombat {
    0% {
        transform: rotate(0deg) translateX(475px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(475px) rotate(-360deg);
    }
}

@keyframes football {
    0% {
        transform: rotate(0deg) translateY(475px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translateY(475px) rotate(-360deg);
    }
}


@keyframes batman {
    0% {
        transform: rotate(0deg) translate(270px, 200px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(270px, 200px) rotate(-360deg);
    }
}

@keyframes xbox {
    0% {
        transform: rotate(0deg) translate(-200px, -280px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(-200px, -280px) rotate(-360deg);
    }
}

@keyframes gta {
    0% {
        transform: rotate(0deg) translateX(-230px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(-230px) rotate(-360deg);
    }
}

@media screen and (min-width: 1000px) {
    body {
        overflow: hidden;
    }
}

@media screen and (min-width: 0px) {
    body {
        overflow-y: scroll;
    }
}